<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :group_name %><br />
    <%= f.text_field :group_name, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field hidden">
    <%= f.label :password %><br />
    <%= f.password_field :password, value: "123456", autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
